* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: "Noto Serif JP", serif;
    background-color: #111111;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 64px;
    z-index: 10;
    background-color: #333333;
}

.header-box {
    display: flex;
    gap: 24px;
    list-style: none;
}

.header-title {
    font-size: 24px;
    color: #FFD700;
    padding: 12px;
    margin-left: 20px;
}

.header-container .header-nav {
    display: flex;
    align-items: center;
    gap: 32px;
    flex: 1;
}

.nav-list {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0 auto;
    align-items: center;
}

.header-container a {
    text-decoration: none;
        color: #FFFFFF;
        transition: background-color 0.3s;
}

.header-container a:hover {
opacity: 0.5;    
}

.header-btn {
    position: absolute;
     right: 0;
    top: 0;
    height: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    background-color: #E6C200;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* ハンバーガーメニュー */

.hamburger {
    width: 32px;
    height: 24px;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    display: none;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 11px;
}

.hamburger span:nth-child(3) {
    bottom: 0;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 11px;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 11px;
}

/* スマホ用 */

.sp-menu {
    display: none;
}

.sp-nav {
   display: none;
}

.hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #E6C200;
    transition: 0.4s;
}

/* fv */

.fv {
     position: relative;
    background-image: url("images/FV.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.fv::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.6)
  );
}

.fv-box {
    text-align: center;
}

.fv-title {
    color: #E6C200;
    padding-top: 100px;
    font-size: 42px;
    font-weight: bold;
     text-shadow:
    0 0 6px rgba(255, 215, 0, 0.4),
    0 0 12px rgba(255, 215, 0, 0.2);
}

.fv-texts {
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 12px;
}

.fv-text {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 300px;
}

/* CONCEPT */

#CONCEPT .concept-box {
    text-align: center;
}

#CONCEPT .concept-box h3 {
    color: #FFD700;
    margin-top: 50px;
    font-size: 16px;
    padding-bottom: 5px;
}

#CONCEPT .concept-title {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 30px;
}

#CONCEPT .concept-texts {
    max-width: 420px;
    margin: 0 auto;
border: 1px solid rgba(230, 194, 0, 0.7);
border-radius: 8px;
margin-bottom: 80px;
padding: 24px;
}

#CONCEPT .concept-text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.9;
}

#CONCEPT .concept-items {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

#CONCEPT .concept-item {
    width: 160px;
    height: 170px;
    border: 1px solid rgba(230, 194, 0, 0.7);
border-radius: 8px;
padding: 16px;
justify-content: center;
align-items: center;
}

#CONCEPT .concept-icon {
    filter: invert(1);
    margin-bottom: 3px;
}

#CONCEPT h5 {
 color: #FFD700;
 font-size: 18px;
 font-weight: bold;
 padding-bottom: 12px;
}

#CONCEPT p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
}

/* GALLERY */

.gallery-box {
    text-align: center;
}

.gallery-box h3 {
    color: #FFD700;
    margin-top: 50px;
    font-size: 16px;
    padding-bottom: 5px;
}

.gallery-title {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 50px;
}

.gallery-item {
    display: flex;
    gap: 34px;
    align-items: flex-start;
}

.gallery-item:nth-child(even) {
    flex-direction: row-reverse;
}

.gallery-item img {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 5 / 4;
    padding-bottom: 80px;
}

.gallery-text {
    display: flex;
    flex-direction: column;
}

.gallery-item h5 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 24px;
}

.gallery-item p {
    color: #FFFFFF;
    font-size: 16px;
    max-width: 400px;
}

/* MENU */

#MENU .menu-boxs {
    text-align: center;
}

#MENU .menu-boxs h3 {
    color: #FFD700;
    margin-top: 50px;
    font-size: 16px;
    padding-bottom: 5px;
}

#MENU .menu-title {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 50px;
}

#MENU .menu-card {
    border: 1px solid rgba(230, 194, 0, 0.7);
border-radius: 8px;
padding: 24px 0;
max-width: 620px;
max-height: 400px;
margin: 0 auto;
margin-bottom: 65px;
}

#MENU .menu-category {
    display: grid;
    grid-template-columns: 1fr 80px;
    column-gap: 50px;
    align-items: center;
    border-bottom: 1px solid #E6C200;
    padding-bottom: 10px;
    max-width: 500px;
   margin: 0 auto;
}

#MENU .menu-category h5 {
    color: #FFD700;
    font-size: 18px;
    font-weight: bold;
}

#MENU .price-base {
    color: #FFFFFF;
    font-size: 16px;
    text-align: right;
}

#MENU .menu-list {
    list-style: none;
    padding: 0;
   max-width: 500px;
   margin: 0 auto;
      margin-bottom: 20px;
}

#MENU .menu-list li {
    padding-top: 30px;
    border-bottom: 1px solid #6B6767;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 80px;
    column-gap: 50px;
    align-items: center;
}

#MENU .menu-list span {
    color: #FFFFFF;
    font-size: 16px;
}

#MENU .menu-list .menu-color {
    color: #FFD700;
    font-size: 16px;
    text-align: right;
}

#MENU .menu-text {
    text-align: center;
    font-size: 14px;
    color: #C8C8C8;
    padding-top: 18px;
}

/* ACCESS */

#ACCESS .access-box {
    text-align: center;
    margin-top: 150px;
}

#ACCESS .access-box h3 {
  color: #FFD700;
    margin-top: 50px;
    font-size: 16px;
    padding-bottom: 5px;
}

#ACCESS .access-title {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 50px;
}

#ACCESS .access-boxs {
     border: 1px solid rgba(230, 194, 0, 0.7);
border-radius: 8px;
padding: 24px 0;
max-width: 620px;
max-height: 500px;
margin: 0 auto;
margin-bottom: 65px;
}

#ACCESS .access-text {
    padding-left: 40px;
    margin-bottom: 30px;
}

#ACCESS .access-text h5 {
    color: #FFD700;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 7px;
}

#ACCESS .access-text p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
}

#ACCESS .access-text .access-texts {
    color: #C8C8C8;
    font-size: 14px;
}

#ACCESS .access-text a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

#ACCESS .access-text a:hover {
opacity: 0.5;    
}

/* iPad */

@media screen and (max-width: 834px) {
    
    /* header */

    .header-box {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .header-title {
       margin: 8px 0 0;
       padding: 0;
    }

    .header-nav {
        width: 100%;
        justify-content: center;
    }

    .nav-list {
        margin: 0;
        gap: 20px;
        transform: translateY(-8px);
    }

    .header-btn {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }

    .hamburger {
        display: none;
    }

    /* スマホ用 */

.sp-menu {
    display: none;
}

.sp-nav {
   display: none;
}

    /* fv */

    .fv-title {
        font-size: 38px;
        padding-top: 130px;
    }

    .fv-texts {
        font-size: 22px;
    }

    .fv-text {
        font-size: 15px;
        letter-spacing: 0.08em;
    }

    /* CONCEPT */

#CONCEPT .concept-items {
display: flex;
justify-content: center;
gap: 24px;
flex-wrap: wrap;
} 

#CONCEPT .concept-item {
    width: calc(35% - 14px);
    height: 180px;
}


/* GALLERY */

.gallery-item,
.gallery-item:nth-child(even) {
    display: block;
    flex-direction: column;
    margin: 0 auto;
    gap: 8px;
}

.gallery-item img {
    padding-bottom: 0;
    margin-bottom: 8px;
}

.gallery-item p {
margin: 0 auto;
margin-bottom: 80px;
}

/* MENU */

#MENU .menu-card {
    border: 1px solid rgba(230, 194, 0, 0.7);
border-radius: 8px;
padding: 24px 0;
max-width: 420px;
max-height: 400px;
margin: 0 auto;
margin-bottom: 65px;
}

#MENU .menu-category {
    display: grid;
    grid-template-columns: 1fr 80px;
    column-gap: 50px;
    align-items: center;
    border-bottom: 1px solid #E6C200;
    padding-bottom: 10px;
    max-width: 320px;
   margin: 0 auto;
}

#MENU .menu-list {
    list-style: none;
    padding: 0;
   max-width: 320px;
   margin: 0 auto;
      margin-bottom: 20px;
}

#MENU .menu-list li {
    padding-top: 30px;
    border-bottom: 1px solid #6B6767;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 80px;
    column-gap: 50px;
    align-items: center;
}

/* ACCESS */

#ACCESS .access-boxs {
     border: 1px solid rgba(230, 194, 0, 0.7);
border-radius: 8px;
padding: 24px 0;
max-width: 420px;
max-height: 500px;
margin: 0 auto;
margin-bottom: 65px;
}

}

/* スマホ */

@media screen and (max-width: 768px) {

    /* header */

    .nav-list {
        display: none;
    }

    .header-btn {
        display: none;
    }

    .header-box {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-title {
        margin-left: 16px;
    }

    .sp-menu {
        position: fixed;
        top: 64px;
        left: 0;
        width: 100%;
        height: calc(40vh - 64px);
        background: #333333;
        display: none;
        z-index: 9;
    }

    .sp-menu.active {
        display: block;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 16px;
        top: 15px;
        z-index: 20;
    }

    /* fv */

.fv {
     position: relative;
    background-image: url("images/FV.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}

.fv::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.6)
  );
}

    .sp-nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .sp-nav.active {
        opacity: 1;
        pointer-events: auto;
    }

    .sp-nav ul {
        list-style: none;
        text-align: center;
    }

    .sp-nav li a {
        color: #FFFFFF;
        font-size: 1rem;
        text-decoration: none;
        display: block;
        padding: 14px 0;
    }

    .sp-reserve {
        font-size: 1rem;
        margin-top: -18px;
        background: #E6C200;
        color: #FFFFFF;
        text-align: center;
        width: 100%;
        padding: 8px 48px;
        text-decoration: none;
        font-weight: bold;
    }
    
       /* CONCEPT */
     #CONCEPT h5 {
 color: #FFD700;
 font-size: 16px;
 font-weight: bold;
 padding-bottom: 12px;
}

#CONCEPT p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
}

/* GALLERY */

.gallery-item h5{
    font-size: 16px;
}

.gallery-item p {
font-size: 14px;
}

/* MENU */

#MENU .menu-card {
    border: 1px solid rgba(230, 194, 0, 0.7);
border-radius: 8px;
padding: 24px 0;
max-width: 390px;
max-height: 370px;
margin: 0 auto;
margin-bottom: 65px;
}

#MENU .menu-category h5 {
    color: #FFD700;
    font-size: 16px;
    font-weight: bold;
}

#MENU .price-base {
    color: #FFFFFF;
    font-size: 14px;
    text-align: right;
}


#MENU .menu-list span {
    color: #FFFFFF;
    font-size: 14px;
}

#MENU .menu-list .menu-color {
    color: #FFD700;
    font-size: 14px;
    text-align: right;
}

#MENU .menu-text {
    text-align: center;
    font-size: 12px;
    color: #C8C8C8;
    padding-top: 18px;
}

/* ACCESS */

#ACCESS .access-boxs {
     border: 1px solid rgba(230, 194, 0, 0.7);
border-radius: 8px;
padding: 24px 0;
max-width: 390px;
max-height: 470px;
margin: 0 auto;
margin-bottom: 65px;
}

#ACCESS .access-text h5 {
    color: #FFD700;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 7px;
}

#ACCESS .access-text p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
}

#ACCESS .access-text .access-texts {
    color: #C8C8C8;
    font-size: 12px;
}

#ACCESS .access-text a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}

}
